@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
}

header button {
  all: unset;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  border-radius: 50%;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

#close {
  background-color: #f44336;
}

#minimize {
  background-color: #ffb32c;
}

#maximize {
  background-color: #66bb6a;
}
